form {
	text-align: center;
}

body {
	margin: 0px;
	font-family: 'Wendy One', sans-serif;
	background-color: white;
}

div img {
	padding-left:400px;
	position: fixed;
}

fieldset {
	border-style: none;
	border-top-style: solid;
	border-radius: 10px;
}